[Unit]
Description=deframe.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Change this line
WorkingDirectory=%h/Documents/linux-dframe
ExecStart=./%h/Documents/linux-dframe/dframe.sh

[Install]
WantedBy=default.target
